@import './base.css';
:root {
  --color-background: #fff;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.rim,
.small-hand,
.big-hand {
  border: 2px solid #000;
}
.rim {
  width: 100%;
  border-radius: 50%;
  position: relative;
}
.rim::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.big-hand,
.small-hand {
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  transform-origin: left top;
}
.big-hand {
  width: 38%;
}
.small-hand {
  width: 48%;
  transform: rotate(-90deg);
}
